<div class="container-fluid">
  <div class="jumbotron devise">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 form-container-devise">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "LOG IN", class:"btn-form-devise"%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div> <!-- /form-container-devise -->
      <div class="col-md-4">
      </div>
    </div> <!-- /row -->
  </div> <!-- /jumbotron devise form -->
</div> <!-- /container-fluid -->
