

<div class="container product">
    <div class="row">
      <% cache @product do %>
      <div class="col-md-6 col-xs-12">
        <!--img src="https://unsplash.it/355x250/?bike" class="img-responsive" alt="portfolio project"-->
        <%= image_tag(@product.image_url, class: "img-responsive detail img-zoom", data_zoom_image: "@product.image_url_large") %>

        <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <% end %>
        <%= link_to 'Back', products_path %>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="grid-description-detail">
          <div class="description-detail">
            <div class="">
              <h3><%= @product.name %></h3>
              <h5>Brand XYZ</h5>
              <h5><%= @product.price %> Eur</h5>
              <h5><%= @product.colour %></h5>
              <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
              <%= form_tag "/payments/create" do %>
                <%= hidden_field_tag(:product_id, @product.id) %>
                <%= render partial: "shared/stripe_checkout_button" %>
              <% end %>
              <p><%= @product.description %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        
          <h3>User Ratings</h3>
          <% if !@product.comments.empty? %>
          <%#= image_tag(@product.image_url, class: "img-responsive detail") %>
          <div class="col-md-4 col-xs-12">
            <div class="container-rating">
              <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
                <h5>Good Product:</h5>
                <p>"<%= @product.highest_rating_comment.body%>"</p>
            </div>
          </div><!-- col -->
          <div class="col-md-4 col-xs-12">
            <div class="container-rating">
              <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
                <h5>Bad Product:</h5>
                <p>"<%= @product.lowest_rating_comment.body%>"</p>
              </div>
          </div><!-- col -->
         <% end %>
          <div class="col-md-4 col-xs-12">
          <%= render partial: "new_comment" %>
          </div><!-- col -->
      </div><!-- col -->
      <div class="col-md-6 col-xs-12">
        <h3>Similar products</h3>

        <% @product.three_similar_products.each do |product| %>
          <div class="col-md-4 col-xs-12">
            <div class="thumbnail">
              <%= link_to image_tag(product.image_url), product %>
              <div class="caption">
                <h5><%= product.name %></h5>
                <p><%= product.colour %>, <%= product.price %>, Brand XYZ</p>
              </div>
            </div>
          </div>
        <% end %>

      </div><!-- col -->
    </div><!-- row -->

    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= will_paginate @comments %>
    <%= render partial: "comments" %>
    <%= will_paginate @comments %>

</div><!-- /container -->



