

<div class="container">
	<p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <!--img src="https://unsplash.it/355x250/?bike" class="img-responsive" alt="portfolio project"-->
        <%= image_tag(@product.image_url, class: "img-responsive detail") %>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="grid-description-detail">
          <div class="description-detail">
            <div class="">
              <h3><%= @product.name %></h3>
              <h5>Brand XYZ</h5>
              <h5><%= @product.price %> Eur</h5>
              <h5><%= @product.colour %></h5>
              <p><%= @product.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
</div><!-- /container -->



