

<div class="container product">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <!--img src="https://unsplash.it/355x250/?bike" class="img-responsive" alt="portfolio project"-->
        <%= image_tag(@product.image_url, class: "img-responsive detail") %>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="grid-description-detail">
          <div class="description-detail">
            <div class="">
              <h3><%= @product.name %></h3>
              <h5>Brand XYZ</h5>
              <h5><%= @product.price %> Eur</h5>
              <h5><%= @product.colour %></h5>
              <p><%= @product.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h3>User Ratings</h3>
        <%#= image_tag(@product.image_url, class: "img-responsive detail") %>
        <div class="col-md-6 col-xs-12">
            <div class="container-rating">
              
              <% @product.highest_rating_comment.rating.times do %>
                <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
              <% end %>
              <h5>Good Product:</h5>
              <p>"<%= @product.highest_rating_comment.body%>"</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="container-rating">
              <% @product.lowest_rating_comment.rating.times do %>
                <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
              <% end %>
              <h5>Bad Product:</h5>
              <p>"<%= @product.lowest_rating_comment.body%>"</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h3>Similar products</h3>

        <% @product.three_similar_products.each do |product| %>
          <div class="col-md-4 col-xs-12">
            <div class="thumbnail">
              <%= link_to image_tag(product.image_url), product %>
              <div class="caption">
                <h5><%= product.name %></h5>
                <p><%= product.colour %>, <%= product.price %>, Brand XYZ</p>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
</div><!-- /container -->



