<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Myfirstapp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/static_pages/landing_page">bikeffm °</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= form_tag("/products", method: "get", class: "navbar-form navbar-left", role: "search") do %>
            <div class="form-group">
              <%= label_tag(:q, "Search for:", class: "sr-only") %>
              <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search") %>
            </div>
            <%= button_tag("Go", class: "btn btn-default btn-default-transparent") %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href=<%= products_path %>>PRODUCTS</a></li>
            <li><a href=<%= static_pages_about_path %>>ABOUT</a></li>
            <li><a href=<%= static_pages_contact_path %>>CONTACT</a></li>
            <li>
            <% if user_signed_in? %>
              <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('LOGIN', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <footer>
    	<h5>&copy; 2016 Bike Frankfurt</h5>
    </footer>
  </body>
</html>
